/* Background styles */
.container {
  background-color: #edf5fd;
  height: 100vh;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("../assets/pencilIcon.png"), auto;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
}

.content-box {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  z-index: 2;
}

.loginPage {
  background-color: white;
  max-width: 470px;
  height: 600px;
  padding: 60px;
  padding-top: 5%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.heading {
  text-align: center;
  margin-bottom: 5px;
  color: #171a1c;
  font-weight: 600;
  font-size: 20px;
}

.content1 {
  width: 470px;
  display: flex;
  background-color: #0b6bcb; /*#9571e4*/
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  padding: 50px;
}

.content1 .notepad {
  position: absolute;
  width: 250px;
  height: 250px;
  rotate: -20deg;
  bottom: 150px;
  left: 90px;
}

.content1 .pencil {
  width: 70px;
  height: 80px;
  position: absolute;
  bottom: 280px;
  right: 50px;
  rotate: -35deg;
}

.content1 .eraser {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
}

.content1 .para {
  margin-top: auto;
  padding-bottom: 50px;
}

.forgot-password {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #0b6bcb;
  cursor: pointer;
  position: relative;
  animation: underlineRemove 0.3s ease-out;
}

.forgot-password:before {
  position: absolute;
  content: "";
  background-color: #0b6bcb;
  height: 1px;
  width: 0%;
  bottom: 0;
  left: 0;
  animation: underline 0.3s ease-out;
  transition: 0.3s;
}

.forgot-password:hover::before {
  position: absolute;
  content: "";
  background-color: #0b6bcb;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  animation: underline 0.3s ease-in;
  transition: 0.3s;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.para {
  color: #555e68;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.label {
  font-weight: 500;
  color: #171a1c;
  font-size: 14px;
  margin-bottom: 6px;
}

.register-account {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.description {
  height: 100%;
  margin-top: 65px;
  padding-left: 30px;
  padding-right: 30px;
}

.desc {
  font-weight: 400;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

.type-text {
  text-align: center;
  margin-bottom: 5px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.lower-container {
  margin-top: 5px;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lower-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.register-account {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  /* This keeps it at the bottom */
}
.endIcon {
  position: absolute;
  right: -20px;
  top: 9px;
  transition: 0.3s linear;
  opacity: 0;
}

.endIconHover {
  position: absolute;
  top: 9px;
  right: 120px;
  animation: iconHover 0.7s ease-in forwards;
}

.endIconAnim {
  position: absolute;
  right: 120px;
  top: 9px;
  animation: iconAnim 1s ease-out;
}

@keyframes iconAnim {
        from {
            right:120px
        }
        to {
            right: -120px;
            opacity: 0;
        } 
    }

@keyframes iconAnimSmall {
  from {
    right: 80px;
  }

  to {
    right: -120px;
    opacity: 0;
  }
}

@keyframes iconHover {
  from {
    right: -20px;
    opacity: 0.8;
  }
  to {
    right: 120px;
  }
}

@keyframes iconHoverSmall {
      from {
    right: -20px;
    opacity: 0.8;
  }
  to {
    right: 80px;
  }
}

@media (max-width: 480px) {
  .endIconHover {
    animation: iconHoverSmall 0.7s ease-in forwards;
  }
  .endIconAnim {
    animation: iconAnimSmall 1s ease-out;
  }
}

@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes underlineRemove {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.logo {
  display: flex;
  margin: 0 auto 20px;
}

.waterDrop {
  position: absolute;
  transform: rotate(-125deg);
  right: 250px;
}

.waterDrop2 {
  position: absolute;
  bottom: -50px;
  transform: rotate(160deg);
  right: 300px;
}

.waterDrop3 {
  position: absolute;
  left: 250px;
  top: 140px;
  transform: rotate(110deg);
}

.waterDrop4 {
  position: absolute;
  left: 10px;
  top: 500px;
  transform: rotate(60deg);
}

.waterDrop5 {
  position: absolute;
  right: 0;
  top: 300px;
  transform: rotate(-70deg);
}

.waterDrop6 {
  position: absolute;
  top: 50px;
  left: 100px;
  transform: rotate(120deg);
}

.Drop1 {
  position: absolute;
  right: 80px;
  top: 120px;
  transform: rotate(-140deg);
}

.Drop2 {
  position: absolute;
  right: 70px;
  top: 140px;
  transform: rotate(-90deg);
}

@media (max-width: 966px) {
  .content1 {
    display: none;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 18px;
  }
  .para {
    font-size: 12px;
  }
  .forgot-password {
    font-size: 12px;
  }
  .register-account {
    font-size: 12px;
  }
  .loginPage {
    width: 380px;
    height: 590px;
    padding: 40px;
  }

}
