.editor-container {
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.editor {
    height: 300px;
}

.editor-toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f1f1f1;
    padding: 5px;
}

.hidden-toolbar .ql-toolbar {
    display: flex;
    justify-content: center;
    border: none;
    padding: 5px;
}

#custom-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f3f3f3;
    padding: 5px;
    display: flex;
    justify-content: center;
    z-index: 10;
    /* Ensure it's above other content */
}

.title {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.title .input {
    font-size: 20px;
    border: none;
    outline: none; /* Ensure no outline appears */
}

.title .input:focus {
    font-size: 20px;
    border: none;
    outline: none;
}