

.ProseMirror ul {
    list-style-type: disc !important;
    padding-left: 20px;
}

.ProseMirror ol {
    list-style-type: decimal !important;
    padding-left: 20px;
}

.editor-image {
    max-width: 100px;
    height: 100px;
    display: block;
    margin: 10px 0;
}
